{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2> Name : {{customer.firstName}} {{customer.lastName}}</h2>
<p>account number : {{customer.accountNumber}}</p>
<table align="center" >
    <tr>
        <p>balance on current account : {{customer.currentAccount}}</p>
    </tr>
    <tr>
        <p>balance on saving account : {{customer.savingAccount}}</p>
    </tr>
</table>
<form method="POST"  action="/return_menu_employee">
    <input type="submit" value="return">
</form>
{% endblock %}