{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 align = "center" >Log in</h1>
<h3 align = "center" >employee</h3>
    <form method="POST" action="./log_in_client" >
        <table align = "center">
            <tr>
                <td>
                    <p> PIN</p>
                </td>
                <td>
                    <input type="text" name="employee_PIN">
                </td>
                <td>
                    <input type="submit" value="valider">
                </td>
            </tr>
        </table>
        <tr>
            
        </tr>
    </form>
{% endblock %}