

{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 align = "center" >Log in</h1>
    <form method="POST"  action="/menu_customer">
        <table align = "center">
            
            <tr>
                <td>
                    <p> last name</p>
                </td>
                <td>
                    <input type="text" name="customer_lastName">
                </td>
            </tr>
            <tr>
                <td>
                    <p> account number</p>
                </td>
                <td>
                    <input type="text" name="customer_accountNumber">
                </td>
            </tr>
            <tr>
                <td>
                    <p> PIN</p>
                </td>
                <td>
                    <input type="text" name="customer_PIN">
                </td>
            </tr>
        </table>
        <tr>
            <input type="submit" value="log in">
        </tr>
    </form>
    <p align = "center"> {{message}} </p> 
{% endblock %}