{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 align = "center" >Log in</h1>
<table align = "center">
    <tr>
        <td>
            <form method="POST" action="/log_in_employee" >
                <input type="submit" value="employee">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form method="POST" action="/log_in_customer" >
                <input type="submit" value="customer" >
            </form>
        </td>
    </tr>
</table>


{% endblock %}