{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1 align = "center" >New customer</h1>
    <form method="POST"  action="/new_customer">
        <table align = "center">
            <tr>
                <td>
                    <p> first name</p>
                </td>
                <td>
                    <input type="text" name="customer_firstName">
                </td>
            </tr>
            <tr>
                <td>
                    <p> last name</p>
                </td>
                <td>
                    <input type="text" name="customer_lastName">
                </td>
            </tr>
            
        </table>
        <tr>
            <input type="submit" value="add">
        </tr>
    </form>
    <form method="POST"  action="/return_menu_employee">
        <input type="submit" value="return">
    </form>
{% endblock %}